<h1><%= @department.name %></h1>
<hr>
<h4>What Would You Like To Do?</h4>
<br>
<%= link_to 'View Products', department_products_path(@department) %>
<br>
<%= link_to 'Edit Department', edit_department_path(@department) %>
<br>
<%= link_to 'Delete Department', @department, method: :delete %>
<br>
<%= link_to 'View All Departments', departments_path %>
